style.css
body{
    margin:0;
    background:#0f172a;
    font-family:Arial, sans-serif;
}

.container{
    width:800px;
    margin:40px auto;
}

h1{
    text-align:center;
    color:white;
}

#chat-box{
    height:500px;
    overflow-y:auto;
    background:white;
    border-radius:10px;
    padding:20px;
}

.user{
    background:#dbeafe;
    padding:10px;
    border-radius:8px;
    margin:10px 0;
}

.bot{
    background:#dcfce7;
    padding:10px;
    border-radius:8px;
    margin:10px 0;
}

.input-area{
    display:flex;
    margin-top:15px;
}

input{
    flex:1;
    padding:12px;
    font-size:16px;
}

button{
    padding:12px 20px;
    cursor:pointer;
}